<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 指定数据库连接信息的位置 -->
  <properties resource="jdbc.properties"></properties>
  <!--类型别名-->
  <typeAliases>
    <typeAlias alias="UserInfo" type="com.neoalvin.tmis.model.UserInfo" />
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!--引入映射文件 -->
    <mapper resource="UserInfoMapper.xml" />
    <mapper resource="InterfaceWatchMapper.xml" />
  </mappers>
</configuration>